*{
    margin: auto;
    padding: auto;
    }
h2{
    text-align: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: center;
    height: 100vh;
    background-color: lightblue;

}

.container{
    text-align: center;
    padding: 25px;
    border: 3px solid black ;
    border-radius: 20px;
    background-color: aliceblue;
}

.counter{
    font-size: larger;
    margin-bottom: 20px;

}
button{
    padding: 10px 20px;
    font-size: 2em;
    margin:20px;
    cursor: pointer;

}

.clicks{
    font-size: 1.5em;
    margin-top: 15px;
    
}
